/*
Theme Name: Inferno
Theme URI: 
Description: Inferno is a simple e-commerce theme targeted for offering deep integration with WooCommerce. It is built on solid foundations based on the popular guidelines of WordPress platform. It is the perfect starting point from which to customize your store to match your brand or boosting your organization with an interactive design.
Author: weblizar
Author URI: http://www.weblizar.com
Template: enigma
Version: 2.0
Tested up to: 5.5
Requires PHP: 7.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, three-columns, four-columns, custom-menu, right-sidebar, custom-background, featured-image-header, sticky-post, theme-options, threaded-comments, featured-images, flexible-header, translation-ready
Text Domain: inferno
*/
.enigma_service_detail h3 a {color:rgba(255, 119, 87, 0.8);}

.product {
    margin: 50px 0;
    width: 100%;
}
.product h1 {
    text-align: center;
}
.about-men-top {
    text-align: center;
}
.product .img-thumbnail.gallery {
    padding: 0px;
    border: none;
    position: relative;
}
.product .button {
	background-color:black;
}
.product .button {
    font-size: 14px;
    font-weight: 500;
    background-color: #ff7757;
    color: white;
    padding: 4px 6px;
    border-radius: 5px;
}
.pro_btn {
    margin-top: 20px;
}
.about-men-name a {
    color: #ff7757;
}
.logo a h1 {
    color: #fff !important;
}
.product .img-thumbnail.gallery img{
	width:100%;
}
.logo img {
    width: 150px;
    height: 55px;
}
@media(min-width:1200px){
.top_search .input-group {
    float: right;
    margin-right: 10%;
}
.product h1 {
    padding-bottom: 34px;
}
}
.carousel-indicators .active {
background-color: #DA6D52 !important;
}