#enigma_nav_top ul li.current-menu-parent { background-color:#FF7757 !important; }
#enigma_nav_top ul li.current-menu-parent a.dropdown-toggle{ color:#fff !important; }

#wrapper{
	background: #ffffff;
} 
/*  header contact info section ***/
.main-navigation a:hover {
    background-color: #FF7757;
}
.main-navigation ul ul {
    background-color: rgb(255 119 87 / .9);
}
.header_section{
	background-color:#FF7757;
	color:#fff;
}
/** navbar menus ***/
.navigation_menu{
	background-color: #fff;
	border-top:2px solid #FF7757;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #FF7757;
}


.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #FF7757;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: #FF7757;
}

.dropdown-menu {
	background-color: rgba(255, 119, 87, 0.9);
}
/** headings titles css ***/
.enigma_heading_title h3 {
	border-bottom: 4px solid #FF7757;
	color: #3b3b3b;
}
.enigma_heading_title2 h3 {
	border-bottom: 2px solid #FF7757;
	color: #3b3b3b;
}
/** slider css ***/
.carousel-list li {
	background:rgba(255, 119, 87, 0.8);
}

/** service  section css ***/
.enigma_service_iocn{
	border: 4px solid #FF7757;
	background-size: 100% 200%;
	background-color:#FF7757;
	background-image: linear-gradient(to bottom, #FF7757 50%, #fff 50%);
}
.enigma_service_area:hover .enigma_service_iocn i {
	color:#FF7757;
	
}
.enigma_service_area:hover .enigma_service_iocn{
	background-position: 0 -100%;
	background-color:#ffffff;
}
.enigma_service_iocn_2 i{
	background: #fff;
	border: 4px solid #FF7757;
}
.enigma_service_iocn_2 i{
	color: #FF7757;
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, #fff 50%, #FF7757 50%);
 }
.enigma_service_area_2:hover .enigma_service_iocn_2 i{
	background-position: 0 -100%;
	color: #ffffff;
	background-color:#FF7757;
}

/****************portfolio css ********************************************************
********************************************************************************/

.enigma_home_portfolio_showcase .enigma_home_portfolio_showcase_icons a {
	background-color: #FF7757;
	border:2px solid #FF7757;
	color:#fff;
}
.enigma_home_portfolio_showcase .enigma_home_portfolio_showcase_icons a:hover{
	background-color: #ffffff;
	border:2px solid #FF7757;
	color:#FF7757;
}
.enigma_home_portfolio_caption {
	border-left:1px solid #ccc;
	border-bottom:4px solid #FF7757;
	border-right:1px solid #ccc;
}

.enigma_home_portfolio_caption:hover{
    background: #FF7757;
}
.enigma_home_portfolio_caption:hover  h3 a ,.enigma_home_portfolio_caption:hover  small{
   color: #ffffff;
}
.img-wrapper:hover .enigma_home_portfolio_caption{
 background: #FF7757;
 border-left:1px solid #FF7757;
	border-bottom:4px solid #FF7757;
	border-right:1px solid #FF7757;
}
.img-wrapper:hover .enigma_home_portfolio_caption  h3 a,.img-wrapper:hover .enigma_home_portfolio_caption  small{
 color: #ffffff;
}

.enigma_proejct_FF7757 a {
	background-color: #f8504b;
	color: #FFFFFF;
	border: 2px solid #FF7757;
	transition: all 0.4s ease 0s;
}
.enigma_proejct_FF7757 a:hover {
	background-color: #ffffff;
	color: #FF7757;
	border: 2px solid #FF7757;
	text-decoration:none;
	
}


.enigma_carousel-prev, .enigma_carousel-next {
    background-color: #fff;
	border: 2px solid #FF7757;
}
.enigma_carousel-prev:hover, .enigma_carousel-next:hover {
    background-color: #FF7757;
	color:#fff;
}
.enigma_carousel-prev:hover i, .enigma_carousel-next:hover i{
    color:#fff;
}
.enigma_carousel-prev i,
.enigma_carousel-next i {
	color: #FF7757;
}

/*** project detail ***/
.enigma_portfolio_detail_pagi li a {
	color: #404040;
	border:2px solid #FF7757;
	text-align:center;
	background-size: 100% 200%;
	background-color:#FF7757;
    background-image: linear-gradient(to bottom, #FF7757 50%, #ffffff 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
	
}
.enigma_portfolio_detail_pagi li a:hover {
	color: #404040;
	border:2px solid #FF7757;
	background-position: 0 -100%;
	background-color:#ffffff;
}

.enigma_portfolio_detail_pagi li a span{
	color:#fff;
	line-height:35px;
}
.enigma_portfolio_detail_pagi li a:hover span{
	color:#FF7757;
}
.enigma-project-detail-sidebar p small {
	color:#777777;
	
}

.enigma-project-detail-sidebar .launch-enigma-project a {

	color: #ffffff;
	border: 2px solid #FF7757;
	background-size: 100% 200%;
	background-color:#FF7757;
    background-image: linear-gradient(to bottom, #FF7757 50%, #ffffff 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.enigma-project-detail-sidebar .launch-enigma-project a:hover {
	background-color: #ffffff;
	color: #FF7757;
	border: 2px solid #FF7757;
	background-position: 0 -100%;
}

/** gallery css **/

.enigma_gallery_showcase .enigma_gallery_showcase_icons a {
	background-color: #FF7757;
	border:2px solid #FF7757;
	color:#fff;
}

.enigma_gallery_showcase .enigma_gallery_showcase_icons a:hover{
	background-color: #ffffff;
	border:2px solid #FF7757;
	color:#FF7757;
}


/**************** blog css ********************************************************
********************************************************************************/

/** blog thumbnail css **/
.enigma_blog_thumb_wrapper{
	background:#fff;
	border-bottom: 5px solid #FF7757;
	box-shadow: 0 0 6px rgba(0,0,0,.7);

}
.enigma_blog_thumb_wrapper h2 a{
	color:#FF7757;
	transition: all 0.4s ease 0s;
}

.enigma_blog_thumb_wrapper h2:hover a{
	color:#FF7757;

}
.enigma_blog_thumb_date li i{
	color: #FF7757;
}
.enigma_tags a{
	background-size: 100% 200%;
	
    background-image: linear-gradient(to bottom, #edf0f2 50%, #FF7757 50%);
 }

.enigma_tags a:hover{
	color:#fff;
	background-position: 0 -100%;
	background-color:#FF7757;
}
.enigma_tags a i{
	color:#FF7757;
}
.enigma_tags a:hover i{
	color:#fff;
}

.enigma_blog_thumb_wrapper span a i{
	color: #FF7757;
}
.enigma_blog_thumb_wrapper span a {
	color:#555;
	
}.enigma_blog_thumb_footer{
	padding-top:20px;
	padding-bottom:10px;
	border-top:3px solid  #f5f5f5;
}

.enigma_blog_read_btn{
	border: 2px solid #FF7757;
	background-size: 100% 200%;
	background-color:#FF7757;
    background-image: linear-gradient(to bottom, #FF7757 50%, #fff 50%);
   }
.enigma_blog_read_btn i {
	margin-right:5px;
}
.enigma_blog_read_btn:hover,.enigma_blog_read_btn:focus{
	background-position: 0 -100%;
	background-color:#ffffff;
	color: #FF7757 !important;
}

.enigma_blog_thumb_wrapper_showcase .enigma_blog_thumb_wrapper_showcase_icons a {
	background-color: #FF7757;
	color: #fff;
	-webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
}
.enigma_blog_thumb_wrapper_showcase .enigma_blog_thumb_wrapper_showcase_icons a:hover{
	background-color: #ffffff;
	border: 2px solid #FF7757;
	color: #FF7757;
}
/********* Blog Full width css ********/
.enigma_post_date {
	background: #FF7757;
	color: #ffffff;
}
.enigma_blog_comment:hover i, .enigma_blog_comment:hover h6{
	color:#FF7757;
} 
.enigma_fuul_blog_detail_padding h2 a{
	color:#FF7757;
}
.enigma_fuul_blog_detail_padding h2  a:hover{
	color:#FF7757;
}
/*** blog sidebar css **/
.enigma_recent_widget_post h3 a ,.wp-calendar-nav a,.wp-calendar-table td a{
	color:#FF7757;
}
.wl-theme-pagination span.page-numbers.current {
    border: 1px solid #FF7757;
    background-color: #FF7757;
}
.wl-theme-pagination a.page-numbers {
    border: 1px solid #FF7757;
    color: #FF7757;
}
.enigma_sidebar_widget {
	border-left: 3px solid #FF7757;
	border-right: 3px solid #FF7757;
	border-bottom: 3px solid #FF7757;
}
.enigma_sidebar_widget_title,#btn-to-top{
	background:#FF7757;
}
.enigma_sidebar_link p a:hover , .enigma_sidebar_widget ul li a:hover{
	color: #FF7757;
}

.enigma_widget_tags a , .tagcloud a {
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #edf0f2 50%, #FF7757 50%);
 }
.enigma_widget_tags a:hover , .tagcloud a:hover {
	border: 1px solid #FF7757;
	background-position: 0 -100%;
	color: #fff;
	background-color:#FF7757;
}

/** blog detail **/
.enigma_author_detail_wrapper{
	background: #FF7757;
	padding:15px;
	margin-bottom:40px;
	
}
.enigma_author_detail_wrapper{
	border-left:2px solid #FF7757;
}
/** blog  form input css **/ 
.reply a {
	color: #FF7757;
}
.enigma_con_input_control:focus, .enigma_con_textarea_control:focus,
.enigma_contact_input_control:focus, .enigma_contact_textarea_control:focus {
  border-color: #FF7757;
  -webkit-box-shadow: inset 0 0px 0px #FF7757, 0 0 5px #FF7757;
          box-shadow: inset 0 0px 0px #FF7757, 0 0 5px #FF7757;
}
.enigma_send_button , #enigma_send_button{
	border-color: #FF7757;
	color: #6a6a6a;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #FF7757 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.enigma_send_button:hover , #enigma_send_button:hover{
	background-position: 0 -100%;
    border: 2px solid #FF7757;
	color: #ffffff;
	background-color:#FF7757;
}

.enigma_blog_pagination {
	background-color: #FFFFFF;	
}
.enigma_blog_pagi a {
	border: 1px solid #dbdbdb !important;
	background-color: #ffffff;
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, #fff 50%, #FF7757 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
	color: #777777;
}
.enigma_blog_pagi a:hover, .enigma_blog_pagi a.active {
	background-position: 0 -100%;
	color: #ffffff;
	background-color:#FF7757;
}

/****** Testimonial css *******************************************
****************************************************************/
.enigma_testimonial_area i{
	color:#FF7757;
}
.enigma_testimonial_area img{
	border: 10px solid #FF7757;
}
.pager a{
	background: #fff;
	border: 2px solid #FF7757;
}
.pager a.selected{
	background: #FF7757;
	border: 2px solid #FF7757;
}
/**** Client Css *************************************************
****************************************************************/
.enigma_client_wrapper:hover {
	border: 4px solid #FF7757;

}
.enigma_client_prev, .enigma_client_next {
    background-color: #fff;
	border: 2px solid #FF7757;
}
.enigma_client_prev:hover, .enigma_client_next:hover {
    background-color: #FF7757;
	color:#fff;
}
.enigma_client_prev:hover i, .enigma_client_next:hover i{
    color:#fff;
}

.enigma_carousel-prev i,
.enigma_carousel-next i {
	color: #FF7757;
}
/**** About us page Css *************************************************
****************************************************************/
.enigma_team_showcase .enigma_team_showcase_icons a {
	background-color: #FF7757;
	border:2px solid #FF7757;
	color:#fff;
}

.enigma_team_showcase .enigma_team_showcase_icons a:hover{
	background-color: #ffffff;
	border:2px solid #FF7757;
	color:#FF7757;
}

.enigma_team_caption:hover{
    background: #FF7757;
}
.enigma_team_caption:hover  h3 a ,.enigma_team_caption:hover  small{
   color: #ffffff;
}

.enigma_team_wrapper:hover .enigma_team_caption{
 background: #FF7757;
}
.enigma_team_wrapper:hover .enigma_team_caption  h3 ,.enigma_team_wrapper:hover .enigma_team_caption  small{
 color: #ffffff;
}
/***** Call Out Section *****************************************************************
***************************************************************************************/
.enigma_callout_area {
	background-color: #FF7757;

}
/***** Footer Area Css *****************************************************************
***************************************************************************************/
.enigma_footer_area{
	background: #FF7757;
	border-top: 0px solid #6B6B6B;
}
/***** Contact Info Css *****************************************************************
***************************************************************************************/
.enigma_contact_info li .desc {
	color: #FF7757;
}
/***** Shortcode  Css *****************************************************************
***************************************************************************************/
/*Dropcaps Styles*/
.enigma_dropcape_square span {
	background-color: #FF7757;
    color: #FFFFFF;
}
.enigma_dropcape_simple span {
    color: #FF7757;
}
.enigma_dropcape_circle span {
	background-color: #FF7757;
    color: #FFFFFF;
}
.breadcrumb li a {
color: #FF7757 !important;
}
/** progress bar or nav FF7757 css */
.progress-bar {
	background-color: #FF7757 !important;
}
.btn-search{
	background:#FF7757 !important;
}
.nav-pills > li  > a{
	border: 3px solid #FF7757 !important;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #FF7757 50%) !important;
}
.nav-pills > li.active > a, .nav-pills > li  > a:hover, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color:#FF7757 !important;
	background-image: linear-gradient(to bottom, #FF7757 50%, #FF7757 50%) !important;
}
.nav-stacked > li  > a
{
	border: 1px solid #FF7757 !important;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #FF7757 50%) !important;
 }
 .nav-stacked > li.active > a,  .nav-stacked > li  > a:hover,.nav-stacked > li.active > a:hover, .nav-stacked > li.active > a:focus {
	background-color:#FF7757 !important;
	background-image: linear-gradient(to bottom, #FF7757 50%, #FF7757 50%) !important;
}

.navbar-toggle {
background-color: #FF7757 !important;
border: 1px solid #FF7757 !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #F17D8A !important;
}
.enigma_blockquote_section blockquote {
border-left: 5px solid #F17D8A ;
}
blockquote {
    border-left: 5px solid #F17D8A;
 }
#wp-calendar caption {
background-color:#FF7757;
color: #fff;
}
.enigma_footer_widget_column ul li a ,.enigma_footer_widget_column ul#recentcomments li {color: #f2f2f2;}
.enigma_footer_widget_column ul li a:hover{color: #FF7757;}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #ff7757;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #ff7757;
}